<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Administrator | OBZ </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
    <style>
        .table {
            border-collapse: separate;
            border-spacing: 0 30px;
            text-justfy: center;
            text-align: center;
        }

        @keyframes blink {
            0% {
                background-color: transparent;
            }

            50% {
                background-color: red;
            }

            100% {
                background-color: transparent;
            }
        }

        .blink {
            animation: blink 1s infinite;
        }
    </style>
    <script>
        setTimeout(function() {
            window.location.href = "/redirectToPatients";
        }, 1800000);
    </script>
    <script>
        function blink() {
            var elementToBlink = document.getElementById("element-to-blink");
            elementToBlink.classList.toggle("blink");
        }
        var isBlinking = false;
    </script>
</head>

<body class="container-max-width p-3">
<div class="h-20 container-flex">
    <div class="container-flex">
        <div id="md-8" style="" class="row">
            <div class="col-md-3 d-flex align-items-center justify-content-start" style="">
                <div class="display-4 p-3 d-flex justify-content-center align-items-center">
                    <a href="#" title="logo" style="text-align: center;" onclick="window.location.href='/'">
                        <img src="../ikone/bolnicaLogo.svg" class="img-responsive"></a>
                </div>
            </div>
            <div class="text-left d-flex justify-content-center col-md-5 align-items-center" style="">
                <h1 class="display-5 text-primary w-100 d-flex justify-content-center text-left align-items-center flex-grow-1" style="">
                    <b class="d-flex">Opća bolnica Zabok i bolnica hrvatskih veterana</b></h1>
            </div>
            <div class="d-flex align-items-center justify-content-center col-md-2" style="text-align: center;">
                <h2 class="flex-grow-1 text-white" style="text-align: center"><b>D</b></h2>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-end">
                <button onclick="blink()">
                    <a> <img width="135px" src="../ikone/MediqueLogo.png" class="img-responsive"></a></button>
            </div>
        </div>
        <hr class="solid">
    </div>
</div>
<div class="py-3" style="">
    <div class="container-flex">
        <h1 contenteditable="true" class="text-center text-muted">Tumač znakova&nbsp;</h1>
    </div>
</div>
<div class="">
    <div class="container-flex">
        <div class="table-responsive" style="">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr class="display: inline-block">
                    <th class="font-weight-bold text-center d-flex align-items-center">
                        <h3></h3>
                    </th>
                    <th class="font-weight-bold">
                        <h3 class=".d-print-table-cell">Dijagnostika</h3>
                    </th>
                    <th class="font-weight-bold">
                        <h3 class="d-flex" >Opis</h3>
                    </th>
                </tr>
                </thead>
                <tbody style="">
                <tr>
                    <td class="font-weight-bold">
                        <h3>
                            <a href="#" title="hitna"><img src="../ikone/2.webp"></a>
                        </h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3 class="">OBRADA LIJEČNIKA</h3>
                    </td>
                    <td class="font-weight-bold text-left">
                        <h3 class="d-flex">Pacijent se trenutno nalazi na obradi od strane liječnika na odjelu Objedinjenog hitnog bolničkog prijema.</h3>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        <h3><a href="#" title="hitna"><img src="../ikone/1.webp"></a>
                        </h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>PACIJENT TRIJAŽIRAN</h3>
                    </td>
                    <td class="font-weight-bold d-flex text-left">
                        <h3 class="text-nowrap">Pacijent pregledan od strane trijažne sestre. Određena je trijažna kategorija i pacijent je u redu čekanja</h3>
                    </td>
                    <td class="font-weight-bold"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        <h3><a href="#" title="hitna"><img src="../ikone/5.webp"></a>
                        </h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>OPSERVACIJA</h3>
                    </td>
                    <td class="font-weight-bold d-flex text-left">
                        <h3 class="text-nowrap">Pacijent se nalazi u opservaciji, tj.zbog zdravstvenog stanja potrebna je dodatna medicinska skrb.</h3>
                    </td>
                    <td class="font-weight-bold"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        <h3>
                            <a href="#" title="hitna"><img src="../ikone/3.webp"></a>
                        </h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>RADIOLOŠKA DIJAGNOSTIKA</h3>
                    </td>
                    <td class="font-weight-bold d-flex">
                        <h3 class="text-left d-flex">Pacijent se nalazi na odjelu radiologije. U tijeku je radiološka dijagnostika (RTG, CT, MR).</h3>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        <h3><a href="#" title="hitna"><img src="../ikone/4.webp"></a>
                        </h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>LABORATORIJSKA DIJAGNOSTIKA</h3>
                    </td>
                    <td class="font-weight-bold text-left">
                        <h3 class="d-flex">U tijeku je laboratorijska dijagnostika.</h3>
                    </td>
                    <td class="font-weight-bold"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        <h3><a href="#" title="hitna"><img src="../ikone/6.webp"></a>
                        </h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>OSTALA MEDICINSKA POMOĆ</h3>
                    </td>
                    <td class="font-weight-bold d-flex">
                        <h3 class="d-flex text-left">Pacijentu se pruža potrebna ostala medicinska pomoć.</h3>
                    </td>
                    <td class="font-weight-bold"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        <h3>STATUS</h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3></h3>
                    </td>
                    <td class="font-weight-bold d-flex text-left">
                        <h3 class="text-nowrap">Status izvršenosti pokazuje koliko je dijagnostičkih pretraga pacijent obavio u odnosu na broj upućenih dijagnostičkih pretraga od strane liječnika.</h3>
                    </td>
                    <td class="font-weight-bold"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="background-color: red">
                        <h3> </h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>ŽIVOTNO UGROŽENI PACIJENT</h3>
                    </td>
                    <td class="font-weight-bold d-flex" style="">
                        <h3 class="text-left d-flex">Pojava treptajuće crvene linije na vrhu prikaza ukazuje na dolazak jednog ili više životno ugroženih pacijenata.&nbsp;<br>Kod takvih pacijenata potrebna je hitna medicinska pomoć svrhu spašavanja i stabilizacije života pacijenta.</h3>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="p-3 text-muted border-top">
    <div class="container-flex">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-8 col-md-6">
                <p class="mb-0"> © OHBP Opća bolnica Zabok i bolnica hrvatskih veterana 2023 || Health IT Akademija 2023</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>