<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Administrator | OBZ </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
    <style>
    .table {
      border-collapse: separate;
      border-spacing: 0 30px;
      text-justify: center;
      text-align: center;
    }

    @keyframes blink {
      0% {
        background-color: transparent;
      }

      50% {
        background-color: red;
      }

      100% {
        background-color: transparent;
      }
    }

    .blink {
      animation: blink 1s infinite;
    }
  </style>
    <script>
    setTimeout(function() {
      window.location.href = "/redirectToLegend";
    }, 30000);
  </script>
    <script>
    function blink() {
      var elementToBlink = document.getElementById("element-to-blink");
      elementToBlink.classList.toggle("blink");
    }
    var isBlinking = false;
  </script>
</head>
</head>

<body class="container-flex p-4">
<div class="h-20 container-flex">
    <div class="container-flex">
        <div id="md-8" style="" class="row">
            <div class="col-md-3 d-flex align-items-center justify-content-start" style="">
                <div class="display-4 p-3 d-flex justify-content-center align-items-center">
                    <a href="#" title="logo" style="text-align: center;" onclick="window.location.href='/'">
                        <img src="../ikone/logo_mali.webp" class="img-responsive"></a>
                </div>
            </div>
            <div class="text-left d-flex justify-content-center col-md-5 align-items-center" style="">
                <h1 class="text-primary w-100 d-flex justify-content-center text-left align-items-center flex-grow-1" style="">
                    <b class="d-flex">Opća bolnica Zabok i bolnica hrvatskih veterana</b></h1>
            </div>
            <div class="d-flex align-items-center justify-content-center col-md-2" style="text-align: center;">
                <h2 class="flex-grow-1 text-primary" style="text-align: center" contenteditable="true">
                    <b>25.02.2023&nbsp; </b><b>18:20:35&nbsp;</b></h2>
            </div>
            <div class="d-flex justify-content-center col-md-2">
                <h3 class="d-flex align-items-center">
                    <a href="#" title="krevet" style="text-align: center;">
                        <img src="../ikone/krevet3.webp" class="img-responsive"></a></h3>
            </div>
        </div>
        <hr class="solid">
    </div>
</div>
<div class="row">
    <div class="container-flex"></div>
</div>
<div class="">
    <div class="container-flex">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr class="display: inline-block">
                    <th class="font-weight-bold text-center d-flex align-items-center">
                        <h3 class="text-left justify-content-center align-items-center d-flex">Trijažna kategorija</h3>
                    </th>
                    <th class="font-weight-bold">
                        <h3 class=".d-print-table-cell">ID Pacijent</h3>
                    </th>
                    <th class="font-weight-bold">
                        <h3>Vrijeme dolaska</h3>
                    </th>
                    <th class="font-weight-bold">
                        <h3>Lokacija</h3>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="font-weight-bold" style="background-color:orange">
                        <h3></h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>#432821</h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>25.02.2023 11:13</h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>Akutni dio</h3>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="background-color:yellow">
                        <h3></h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>#347853</h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>25.02.2023 10:53</h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>Subakutni dio</h3>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold" style="background-color:yellow">
                        <h3></h3>
                    </td>
                    <td class="font-weight-bold" >
                        <h3>#339821</h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>25.02.2023 11:40</h3>
                    </td>
                    <td class="font-weight-bold">
                        <h3>Subakutni dio</h3>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="p-3 text-muted border-top">
    <div class="container-flex">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-8 col-md-6">
                <p class="mb-0"> © OHBP Opća bolnica Zabok i bolnica hrvatskih veterana 2023 || Health IT Akademija 2023</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>